// Even though profiles can be included with parameters in one config, it is better practice to keep profiles separately in nextflow.config file as profiles don't change between different experiments
// // profiles are generally for runtime related definitions. Any name can be used to create profiles, however executors are predefined in nextflow (https://www.nextflow.io/docs/latest/executor.html#)
profiles {
        

        dhslab_test {
                includeConfig { 'conf/dhslab_test.config' }
        }

        ris {
            process { 
                    executor            =    "lsf"
                    clusterOptions      =    { "-a 'docker(${task.container})' -q dspencer -G compute-dspencer -g /dspencer/nextflow" }
                    
                    withName: guppy_basecaller_gpu {
                        clusterOptions      =    { "-a 'docker(${task.container})' -q general -G compute-dspencer -g /dspencer/nextflow -R 'gpuhost' -gpu 'num=2:gmodel=TeslaV100_SXM2_32GB:gmem=16G'" }
                }
                }
        }
}

// 1) When accessing a workflow variable from config file, the option value should be enclosed in curly brackets in order to evaluate the variable
// 2) using a double quote and single quote makes difference! They can be interchangeable as long as no nextflow variable need to be accessed between the quotes, otherwise use double quotes to access nextflow variables
