// "implicit" workflow object config are for accessing or setting workflow/runtime metadata (https://www.nextflow.io/docs/latest/metadata.html?#runtime-metadata)
workDir = 'work'

// params are generally for pipeline related definitions
params {
    input                                 = "/storage1/fs1/dspencer/Active/spencerlab/projects/longread/ont/aml476081/20220912_2159_3C_PAM92423_6247dc59/test_fast5"
    outdir                                = 'results'
    use_gpu                               = true

// Process specific parameters
    basecall_config                       = "dna_r10.4.1_e8.2_260bps_modbases_5mc_cg_sup.cfg"
}