// params are generally for pipeline related definitions
params {
    // General parameters
    input                                    = "mini_test/mini_data"
    genome_fasta                          = "mini_test/mini_reference/hg38_chr22.fasta" // genome fasta for alignment
    outdir                                = 'results'
    sample_id                             = 'test_sample'
    use_gpu                               = false

   // Process specific parameters
    
    // gupp_caller
    basecall_config                       = "dna_r9.4.1_450bps_modbases_5mc_cg_sup.cfg"

    // pepper
    nanopore_reads_type                   = "ont_r9_guppy5_sup"
}

// "implicit" workflow object config are for accessing or setting workflow/runtime metadata (https://www.nextflow.io/docs/latest/metadata.html?#runtime-metadata)

// Define working directory
workDir = 'work'

// Enable Timeline report
timeline.enabled = true
timeline.file = "${params.outdir}/pipeline_info/pipeline_timeline.html"

// Enable Pipeline execution report
report.enabled = true
report.file = "${params.outdir}/pipeline_info/pipeline_report.html"
